@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button {
        @apply relative flex items-center space-x-4 px-4 py-3;
    }
    .active-button {
        @apply rounded-xl bg-gradient-to-r from-sky-600 to-cyan-400 font-bold text-white;
    }
    .icon-button {
        @apply h-10 w-10 rounded-xl border border-base-content/50 hover:border-primary 
        bg-base-content/10;
    }
    .input-field {
        @apply w-full rounded-xl border border-base-content/50 py-2.5 text-sm bg-base-content/10;
    }
}
